<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Cookie Order</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Edit an Order: {{order.id}}</h1>
        <form action="/cookies/edit/{{order.id}}" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="hidden" id="id" name="id" value="{{order.id}}">
            <label for="name">Customer Name:</label>
            <input type="text" name="name" placeholder="Name" value="{{order.name}}">
            <label for="cookie_type">Cookie Type:</label>
            <input type="text" name="cookie_type" placeholder="ex. Thin Mints" value="{{order.cookie_type}}">
            <label for="num_boxes">Number of Boxes:</label>
            <input type="number" name="num_boxes" value="{{order.num_boxes}}">
            <input type="submit" value="Edit Order">
        </form> 

</body>
</html>